*{
    background-color: black;
    color: white;
}
.container {
    height: 800px;
    width: 800px;
    border: solid 2px darkorange;
    display:grid ;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px 200px ;
}

.item {
    margin: 3px;
    /* height: 200px;
    width: 200px; */
    border: solid 2px crimson;
    background-color: rgba(184, 14, 14, 0.596);
}
